/*#banner {
  border: 2px double black;
  border-radius: 0 15% 0 0 / 37%;
  background: rebeccapurple;
}*/

header .img1 {
  border: 5px solid rebeccapurple;
  border-radius: 0 15% 0 15% / 50%;
  position: relative;
  width: calc(100% - 5px);
  height: auto;
  z-index: 1;
}

header .h1--banner {
  position: absolute;
  font-family: 'Arima Madurai', cursive;
  color: rebeccapurple;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  top: 70px;
  width: 100%;
  z-index: 1;
}

header .img2 {
  border: 5px solid rebeccapurple;
  border-radius: 50%;
  position: relative;
  width: 10rem;
  height: 10rem;
  top: -6rem;
  left: 8.5rem;
  z-index: 2;
}

.h1--title {
  font-family: 'Arima Madurai', cursive;
  font-size: 2rem;
  font-weight: bolder;
  font-style: italic;
  font-variant: small-caps;
  color: rebeccapurple;
  text-align: center;
  margin-top: -10rem;
  margin-bottom: 2.5rem;
}
