/*#banner {
  border: 2px double black;
  border-radius: 0 15% 0 0 / 37%;
  background: rebeccapurple;
}*/

header .img1 {
  /*border: 1px solid rebeccapurple;*/
  border-radius: 0 1.5em 0 1.5em;
  /*border-radius: 1.5em;*/
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
}

header .h1--banner {
  position: absolute;
  color: #f2ecf9;
  font-size: 3vw;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
  top: 4em;
  width: 100%;
  z-index: 1;
}

header .img2 {
  border: 2px solid rebeccapurple;
  border-radius: 50%;
  position: relative;
  width: 15vw;
  height: 15vw;
  top: -8vw;
  left: calc((36% / 2) - 7.5vw);
  /*^^^^^^^^^^^^^^^^^^^^^^^^^^
   * Relative to value of "left"
   * property in .div--left
   minus radius of image display*/
  z-index: 2;
}

.h1--title {
  font-size: 5vw;
  font-weight: bolder;
  font-style: italic;
  font-variant: small-caps;
  color: rebeccapurple;
  margin-top: -14vw;
  margin-bottom: -1vw;
  /*margin-bottom: 2.5rem;*/
}
