*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: rebeccapurple;
  background-color: #f2ecf9;
  padding: 1.5rem;
  margin: 0;
  min-height: 100%;
}

.h2--mod {
  text-align: center;
  margin: 1.5em 0 .5em 0;
}

.clearfix {
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.main--content {
  margin 0 auto;
  padding-bottom: 1em;
}

/**********************
* Both sides Content
***********************/
.div--left,
.div--right {
  border: 2.5px solid rebeccapurple;
  /*border-radius: 0 5em 0 5em;*/
  border-radius: 1em;
  background-color: #f2ecf9;
  display: inline;
  min-height: 100%;
}

/**********************
* Left side Content
***********************/
.div--left {
  float: left;
  width: 36%;
  left: 0;
}

.div--welcome {
  width: 90%;
  padding: 1em .75em 1em .75em;
  margin: 1em;
}

.div--welcome p {
  padding: .5em auto;
}

/**********************
* Right side Content
***********************/
.div--right {
  float: right;
  right: 0;
  /*width: calc(100% - 36% - 10%);*/
}

.div--info {
  border-top: 1px solid rebeccapurple;
}

.div--hours {
  float: left;
  width: 35%;
  padding: 0 .75em 1em 2em;
  /*padding: 1em;*/
  /*margin: 1em;*/
}

.div--contact {
  float: left;
  width: 35%;
  padding: 0 .75em 1em .75em;
}

.div--social {
  float: right;
  width: 18%;
  padding: 0 1em 1em .75em;
}

.img--social {
  display: block;
  margin: 0 auto;
  width: 2em;
}

.div--hours {
}

.div--contact,
.div--social {
  /*border: 5px solid rebeccapurple;
  border-radius: 0 5em 0 5em;
  background-color: #f2ecf9;*/
  /*width: calc(100% - calc(36% / 2) - 20%);*/
  /*padding: 1em;*/
  margin: 0 1em 1.5em 1em;
}

/*.div--hours h2,
.div--contact h2,
.div--social h2,*/
.div--hours p,
.div--contact p,
.div--social p {
  text-align: center;
}

.footer--mod {
  position: relative;
  bottom: 0;
  width: 100%;
  border: 5px solid rebeccapurple;
  /*border-radius: 0 5em 0 5em;*/
  border-radius: 1em;
  background-color: #f2ecf9;
  color: rebeccapurple;
  padding-bottom: 0.2rem;
}

.footer--mod p {
  margin: 1rem auto;
  text-align: center;
}
