.div--menu {
  width: 100%;
  padding: 1em;
  margin: 1em;
  table-layout: auto;
}

.menu:after {
  clear: both;
}

.table {
  display:table;
  width: 100%;
  border: 1px solid black;
}

.table-row {
  display:table-row;
}

.table-cell {
  display:table-cell;
  border: 1px solid black;
  text-align: center;
  padding: 2px;
}

.header {
  background-color: rebeccapurple;
  color: #f2ecf9;
}

.flavor {
  width: 50%;
}

.calories {
  width: 25%;
}

.sugar {
  width: 25%;
}

a.table-row {
  text-decoration:none;
}

a.table-row:nth-child(even) {
  background-color: pink;
}

a.table-row:nth-child(odd) {
  background-color: skyblue;
}

a.table-row:hover {
  background-color: aqua;
}

a.table-row:focus,
a.table-row:active {
  background-color: darkorange;
}
